# q1

In [2]:
my_name = "Topher Saclolo"

In [3]:
print(my_name)

Topher Saclolo

# q2

In [4]:
my_id = 112588739

In [5]:
print(my_id)

112588739

# q3

In [6]:
my_id_str = "112588739"

In [7]:
print(my_id_str)

112588739

# q4

In [9]:
my_name+my_id

TypeError: must be str, not int

# cannot be combine str and int

# q5

In [11]:
my_name+my_id_str

'Topher Saclolo112588739'

# q6

In [30]:
print(" hello, world. This is my first python string".split("."))

[' hello, world', ' This is my first python string']

# q7

In [25]:
my_list = ["a","b","c","d","e"]

In [28]:
my_list.sort()

In [29]:
print(my_list)

['a', 'b', 'c', 'd', 'e']

# CAN BE SORTED ALPHABETICALLY

# q8

In [31]:
my_list.append('f')

In [32]:
print(my_list)

['a', 'b', 'c', 'd', 'e', 'f']

# q9

In [33]:
my_list.remove('d')

In [34]:
print(my_list)

['a', 'b', 'c', 'e', 'f']

# Q10

In [35]:
my_list[2]

'c'

# Q11

In [37]:
my_numlist = [12,32,43,35]
print(my_numlist)

[12, 32, 43, 35]

In [38]:
my_list+my_numlist

['a', 'b', 'c', 'e', 'f', 12, 32, 43, 35]

# CAN BE COMBINED BECAUSE BOTH ARE LISTS

# q12

In [39]:
my_dict = { "name": my_name, "id": my_id }

In [40]:
print(my_dict)

{'name': 'Topher Saclolo', 'id': 112588739}

# Q13

In [42]:
my_dict["name"]="Saclolo"

In [43]:
print(my_dict)

{'name': 'Saclolo', 'id': 112588739}

# Q14

In [49]:
print(my_dict["id"])

112588739

# q15

In [50]:
my_dict["id"]= 1337

In [51]:
print(my_dict)

{'name': 'Saclolo', 'id': 1337}

# Q16

In [53]:
my_dict["my_numlist"] = my_numlist

In [54]:
print(my_dict)

{'name': 'Saclolo', 'id': 1337, 'my_numlist': [12, 32, 43, 35]}

# Q17

In [56]:
print(max(my_dict["my_numlist"]))

43

In [57]:
print(min(my_dict["my_numlist"]))

12