# Q1

In [15]:
num_list = [12, 32, 43, 35]

In [24]:
num_list.sort()
print(num_list)
num_list[0]

[12, 32, 35, 43]

12

In [25]:
num_list.reverse()
print(num_list)
num_list[0]

[43, 35, 32, 12]

43

In [26]:
print(max(num_list))
print(min(num_list))

43
12

# Q2

In [28]:
my_str = "This is my third python lab"

In [30]:
len(my_str)

27

# Q3

In [5]:
my_list = ["a","123",123, "b", "B", "False", False, 123, None, "None"]

# TEN UNIQUE ITEMS

# Q4

In [9]:
my_dict = ["favorite_count": 1138, "lang":"ch", "coordinates": (-75.14310264, 40.05701649), "visited_countries":["GR", "HK", "MY"]]

SyntaxError: invalid syntax (<ipython-input-9-d89043f5e6ba>, line 1)