# Q1

In [1]:
for i in range (1,6,):
    print(i)

1
2
3
4
5

In [2]:
result=1

for i in range (1,6):
    result = result*i
print(result)

120

# Q2

In [3]:
result=0

for i in range (1,6):
    result = result+i
print(result)

15

# Q3

In [4]:
result=1

for i in range (3,10):
    result = result*i
print(result)

181440

# Q4

In [5]:
result=1

for i in range (4,9):
    result = result*i
print(result)

6720

# Q5

In [6]:
for i in range(0,6):
    if i ==3:
        continue
    print(i)

0
1
2
4
5

# CONTINUE TO SKIP 3

# Q6

In [7]:
my_str = "this is my fourth string"
print(my_str)

this is my fourth string

In [8]:
my_str.split(" ")

['this', 'is', 'my', 'fourth', 'string']

In [9]:
count = 0
for i in my_str.split():
    count = count+1
print(count)

5

# Q7 EMPTY LIST

In [10]:
num_list = [12,32,43,35]

In [11]:
num_list = [12,32,43,35]

while num_list:
    
    num_list.remove(num_list[0])
    
print(num_list)

[]

# Q8

In [12]:
word_list = my_str.split()

count = 0

while word_list:
    
    count = count+1
    
    word_list.remove(word_list[0])
    
print(count)

5

# Q9

In [13]:
my_tweet = {
    "favorite_count":1138,
    "lang":"ch",
    "coordinates":(-75.14310264,40.05701649),
    "entities": {"hashtags":["Preds","Pens","SingIntoSpring"]}
}
print(my_tweet)

{'favorite_count': 1138, 'lang': 'ch', 'coordinates': (-75.14310264, 40.05701649), 'entities': {'hashtags': ['Preds', 'Pens', 'SingIntoSpring']}}

# Q9.1

In [14]:
my_list = my_tweet["entities"]["hashtags"]

In [15]:
count = 0
for i in my_list:
    count = count+1
print(count)

3

# Q9.2

In [16]:
count = 0

while my_list:
    
    count = count+1
    
    my_list.remove(my_list[0])
    
print(count)

3

# Q10

In [17]:
num_list = [12,32,43,35]
max_item = num_list[0]

for current_item in num_list:
    if max_item< current_item:
        max_item = current_item
print(max_item)

43

In [18]:
num_list = [12,32,43,35]
min_item = num_list[0]

for current_item in num_list:
    if min_item> current_item:
        min_item = current_item
print(min_item)

12